<!-- Page title-->
<div class="border-bottom  mb-3">
<h1 class="mt-2 mt-md-4 mb-3 pt-2">{{title}} cliente</h1>
<div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Operaciones de un cliente.</p>
    
</div>
</div>

<div class="card box-shadow-sm">
    <form [formGroup]="clientForm" (ngSubmit)="register()" >
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">{{title}} cliente</h5>
    </div>
    <div class="card-body">

        <div *ngIf="loadingClient" class="row">
            <div class="col-md-12 text-center">
                <!-- Custom size border spinner -->
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        </div>
        <div *ngIf="!loadingClient" class="row">

            <div class="col-md-4 form-group">
                <label for="validationCustom01" class="form-label">Nombres</label>
                <input
                formControlName="nombres"
                class="form-control" 
                type="text" 
                placeholder="Nombre(s)" >
            </div>

            <div class="col-md-4 form-group">
                <label for="validationCustom01" class="form-label">Apellidos</label>
                <input 
                formControlName="apellidos"
                class="form-control" 
                type="text" 
                placeholder="Apellidos" >
            </div>

            <div class="col-md-4 form-group">
                <label for="validationCustom01" class="form-label">Correo electrónico</label>
                <input 
                formControlName="email"
                class="form-control" 
                type="text" 
                placeholder="email" >
            </div>

            <div class="col-md-4 form-group">
                <label for="validationCustom01" class="form-label">Telefono</label>
                <input 
                class="form-control" 
                formControlName="telefono"
                type="text" 
                placeholder="Telefono" >
            </div>
            <div class="col-md-4 form-group">
                <label for="validationCustom01" class="form-label">Fecha nacimiento</label>
                <input 
                class="form-control" 
                formControlName="f_nacimiento"
                type="date" 
                placeholder="Fecha de nacimiento" >
            </div>
            <div class="col-md-4 form-group">
                <label for="validationCustom01" class="form-label">DNI</label>
                <input 
                class="form-control" 
                type="number" 
                formControlName="dni"
                placeholder="DNI" >
            </div>

            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Genero</label>
                <select formControlName="genero" class="form-control custom-select" id="">
                <option value="0" disabled selected>-- Seleccionar genero -- </option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                </select>
            </div>
        </div>
        </div>
        <div *ngIf="!loadingClient" class="card-footer">
            <!-- <button type="button" class="btn btn-primary">sada</button> -->
            <button *ngIf="!loading" class="btn btn-primary mr-3" type="button" type="submit">Guardar Cambios</button>
            <!-- Button with border spinner -->
            <button *ngIf="loading" type="button" class="btn btn-primary btn-icon  mr-3" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <button class="btn btn-warning" [routerLink]="'/clients'">Regresar</button>
        </div>
    </form>
</div>    
