<!-- Page title-->
<div class="border-bottom  mb-2">
    <h1 class="mt-2 mt-md-4 pt-2">Configuración</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo se establecen las configuraciones de la tineda.</p>

    </div>
</div>


<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Configuraciones</h5>
    </div>

    <div class="card-body">
        <div style="max-width: 48rem;">

            <form 
            [formGroup]="configForm"
            >
                <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Nombre de la tienda</label>
                    <div class="col-md-9">
                    <input 
                        class="form-control" 
                        type="text" 
                        id="text-input" 
                        formControlName="titulo"
                        value="Createx">
                    </div>
                </div>
                <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Facturación</label>
                    <div class="col-md-4">
                        <input 
                            class="form-control" 
                            type="number" 
                            formControlName="serie"
                            id="text-input" 
                            value="Createx"> 
                    </div>
                    <div class="col-md-5">
                        <input 
                            class="form-control" 
                            type="number" 
                            formControlName="correolativo"
                            id="text-input" 
                            value="Createx">
                    </div>
                </div>
            </form>

            <div class="form-group row align-items-center">
                <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Categorías</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="titulo" [(ngModel)]="titulo" id="text-input" placeholder="Titulo">
        
                </div>
                <div class="col-md-5">
                    <input class="form-control" type="text" id="text-input" name="icono" [(ngModel)]="icono" placeholder="Icono">
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <a (click)="crearCatego()" style="cursor: pointer;" class="mb-5 mt-5">Agregar</a>


                    <div class="table-responsive mt-3">
                        <table class="table table-sm">
                            <thead >
                                <tr>
                                <th>Categoria</th>
                                <th>Icono</th>
                                <th>Eliminar</th>
                                </tr>
                            </thead>

                            <ng-container *ngIf="categorias.length === 0">
                                <tbody>
                                    <tr colspan="2" class="text-center">
                                        <span  class="text-muted">No hay categorias.</span>
                                    </tr>
                                </tbody>
                            </ng-container>
                            <ng-container *ngIf="categorias.length !== 0">
                                <tbody>
                                    <tr *ngFor="let categoria of categorias" >
                                        <td>{{categoria.titulo}}</td>
                                        <td>
                                            <i class="{{categoria.icono}}">

                                            </i>
                                        </td>
                                        <td>
                                            <a class="text-danger" (click)="elimarcatego(categoria._id)" style="cursor: pointer;">Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>
                            
                        
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="form-group row align-items-center">
                <label class="col-md-3 col-form-label font-weight-medium" for="file-input">Logo</label>
                <div class="col-md-9">
                    
                    <div class="cs-file-drop-area">
                        <!-- <div class="cs-file-drop-icon cxi-upload"></div> -->
                        <div class="cs-file-drop-preview img-thumbnail rounded">
                            <img [src]="imgSelected" alt="">
                        </div>
                        <span class="cs-file-drop-message">Seleccione su logo</span>
                        <!-- <img [src]="imgSelected" class="img-thumbnail" alt="Rounded image"> -->
                        <input type="file" (change)="fileChange($event)" class="cs-file-drop-input">
                        <button type="button" class="cs-file-drop-btn btn btn-outline-primary btn-sm">Examinar</button>
                    </div>
                </div>
                
            </div>

            
        </div>
        
    </div>
    <div class="card-footer">
        <!-- Button with border spinner -->
        <button *ngIf="loading" type="button" class="btn btn-primary btn-icon  mr-3" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button *ngIf="!loading" (click)="updateConfig()" class="btn btn-primary mr-3">Guardar cambios</button>
    </div>
</div> 
